.navigation-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-menu li{
    margin: 0px 20px;
}

.navigation-menu li a{
text-decoration: none;
color: #ffffff;
}
.active{
    color: #139428 !important;
    font-weight: bold;
}
/* mobile view */
.mobile-navigation{
    list-style: none;
}
.mobile-navigation li{
    margin-top: 20px;
}
.mobile-navigation li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}
